// global styles

html,
body {
  align-items: center;
  background-color: #eee;
  color: #111;
  display: flex;
  font-family: sans-serif;
  font-size: 14px;
  justify-content: center;
  margin: 0;
  padding: 0;
}
